/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

:root {
  /* CSS variables here */
}

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*
    Elements: Page
    ---
    Default markup for page level elements
*/

html {
  font-size: 100%;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #171b1c;
  scroll-behavior: smooth;
  /* anti aliasing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
    Customize the background color and color to match your design.
*/

::selection {
  background: #00b2ff;
  color: white;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

h4,
h5,
h6 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin-bottom: 1.5rem;
}

ul,
ol {
  margin-left: 1.5rem;
}

li ul,
li ol {
  margin-bottom: 0;
}

a {
  color: #008fcc;
  transition: all 0.1s ease-in-out;
}

a:visited {
  color: #008fcc;
}

a:hover {
  color: #00b2ff;
}

a:active {
  color: #006b99;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*
    Objects: Row
    ---
    Creates a horizontal row with padding
*/
.o-row {
  padding: 1.5rem 1.5rem 0;
  display: flow-root;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 87.5rem;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
/*
    Component: Component name
    ---
    Component description
*/

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
/*
    Utilities: Max widths
    ---
    max-width utility classes
*/

.u-max-width-s {
  max-width: 37.5rem;
}

.u-max-width-m {
  max-width: 60rem;
}

.u-max-width-l {
  max-width: 87.5rem;
}